.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg); /*Os dois pontos (..) representam a "saída" da pasta atual; sai da pasta "styles" > entre na pasta 'img' > acesse o arquivo 'Menu.svg'*/
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*Elemento pai de .lista-menu para o position absolute*/
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute; /*Todo elemento pai que tiver qualquer valor de position, menos o static, será a referência para posicionar o elemento filho absolute!*/
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu { /*exibe a <lista-menu> quando o item <container__botao> estiver marcado <checked>.*/
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}


/*oculta a estrutura e estilização no layout mobile*/
.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

/*<@media> media query para aplicar estilo em determinado tamanho de tela; <screen> é um media type, ou seja, a declaração de um tipo de mídia; a ordem em que é colocada no arquivo não impacta diretamente em como ela funciona. */
@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente { 
        display: none; /*oculta a imagem no dispositivo quando não for mobile*/
    }

    .opcoes__botao:checked~.lista-menu { /*exibe a <lista-menu> quando o item <opcoes__botao> estiver marcado <:checked>.*/
        display: block;
        width: auto; /*define a largura do elemento baseada no conteúdo do elemento.*/
    }

    .opcoes__botao {
        display: none; /*desabilita e oculta a caixa de seleção*/
    }
}

/* media query para aplicar estilo nas telas com tamanho a partir de 1728px - desktop */
@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}